/*****************************************************************************
                  ,,
                `7MM                                         mm
                  MM                                         MM
`7M'    ,A    `MF'MM  ,pW"Wq.   .P"Ybmmm ,pW"Wq.`7MM  `7MM mmMMmm
  VA   ,VAA   ,V  MM 6W'   `Wb :MI  I8  6W'   `Wb MM    MM   MM
   VA ,V  VA ,V   MM 8M     M8  WmmmP"  8M     M8 MM    MM   MM
    VVV    VVV    MM YA.   ,A9 8M       YA.   ,A9 MM    MM   MM
     W      W   .JMML.`Ybmd9'   YMMMMMb  `Ybmd9'  `Mbod"YML. `Mbmo
                               6'     dP
                               Ybmmmd'

CSS configuration for the wlogout utility.

Stephan Raabe (2024) 
Alex Cochran (2025)
******************************************************************************/

* {
  font-family: "Iosevka", FontAwesome, sans-serif;
	background-image: none;
	transition: 30ms;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.8);
}

button {
	transition: 0ms;
	border-radius: 0;
	border-color: #74c7ec;
	text-decoration-color: #181825;
	color: #cdd6f4;
	background-color: #181825;
	/*background-color: #181825;*/
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active {
	color: #74c7ec;
	text-decoration-color: #cdd6f4;
}

button:hover {
	background-color: rgb(48, 50, 66);
	color: #74c7ec;
}


/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/reboot.png"));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

#system-panel {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

